*{
    padding: 0;
    margin: 0;
    
}

#canvas1{
    position: absolute;
    height:100%;
    width:100%;
    background-color:black;
}

@keyframes openOptions {
    0% {
        height: 45px;
        width: 120px;
        border: 3px solid rgba(63, 10, 77, 0.2);
        background-color: rgba(10,10,10,0);
    }
    30% {
        height: 45px;
        width: 200px;
        border: 3px solid rgba(63, 10, 77, 1);
        background-color: rgba(10,10,10,0.6);
    }
    100% {
        height: 550px;
        width: 200px;
        border: 3px solid rgb(114, 20, 139);
        background-color: rgba(10,10,10,1);
    }
}

#options{
    position: absolute;
    text-align: center;
    top: 20px;
    left: 20px;
    width: 120px;
    height: 45px;
    overflow: hidden;
    text-overflow: clip;
    z-index: 10;
    color:white;
    background-color: rgba(10,10,10,0);
    border: 3px solid rgba(63, 10, 77, 0.5);
    border-radius: 10px;
}

#options:hover{
    background-color: rgba(10,10,10,1);
    border: 3px solid rgb(114, 20, 139);
    height: 550px;
    width: 200px;
    animation: openOptions 0.6s ease-in-out;
}

#drawButton{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 25px;
}

#formDiv{
    position: absolute;
    top: 60px;
    left: 5%;
    width: 90%;
    height: 280px;
    line-height: 20px;
}

input[type=checkbox]{
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.seperator{
    position: absolute;
    left: 5%;
    width: 90%;
    height: 1px;
    border: none;
    background-image: linear-gradient(to right, rgba(114, 20, 139, 0.1), rgba(114, 20, 139, 0.6), rgba(114, 20, 139, 0.8), rgba(114, 20, 139, 0.6), rgba(114, 20, 139, 0.1));
}

#test{
    background-image: rgb(152, 26, 190), rgba(114, 20, 139, 0.5), rgba(114, 20, 139, 1), rgba(114, 20, 139, 0.5), rgba(114, 20, 139, 0.1)
}

#progressOptions{
    position: absolute;
    text-align: center;
    top: 20px;
    right: 20px;
    width: 200px;
    height: 120px;
    background-color: rgba(10,10,10,1);
    border: 3px solid rgb(114, 20, 139);
    border-radius: 10px;
    color:white;
    z-index: 10;
}
